In [2]:
import pandas as pd

In [ ]:
with open('../Dataset/writingPrompts/test.wp_source', 'r') as file:
    source_lines = file.readlines()
with open('../Dataset/writingPrompts/test.wp_target', 'r') as file:
    target_lines = file.readlines()

df_source = pd.DataFrame(source_lines, columns=['source'])
df_target = pd.DataFrame(target_lines, columns=['target'])

df_merged = pd.concat([df_source, df_target], axis=1)

df_merged.to_json('../PreProcessedDataset/test.json', orient='records', lines=True)

print(df_merged)

                                                  source  \
0      [ WP ] Leonardo DiCaprio in a fit of rage begi...
1      [ CW ] Kill the writer in first-person narrati...
2      [ EU ] Sean Bean has a hard time leaving his r...
3      [ WP ] A kid doodling in a math class accident...
4      [ WP ] As a Space marine you have an allowance...
...                                                  ...
15133  [ WP ] You are a devout christian , and you ju...
15134  [ WP ] Describe a universe where a personal st...
15135  [ WP ] Turning your girlfriend into a pumpkin ...
15136  [ WP ] God answers every time you call His nam...
15137  [ cw ] write about the strangest/scariest/sadd...

                                                  target
0      The wet marble floor pressed on his cheek like...
1      It 's been three days since my boyfriend pisse...
2      George fled . Not terrifically fast , not at h...
3      It was dark and Levi was pretty sure he was ly...
4      `` Hi dad ! '' <newline> <newline> The words s...
...                                                  ...
15133  Allen died choking on a ham sandwich . It was ...
15134  Usually he knew his number what it was by simp...
15135  There were several things wrong with this situ...
15136  `` Here , get in the back . '' You climbed int...
15137  The night was as thick and terrifying as any I...

[15138 rows x 2 columns]

In [7]:
df=pd.read_json('../PreProcessedDataset/test.json', lines=True)
df.head()

,source,target
0,[ WP ] Leonardo DiCaprio in a fit of rage begi...,The wet marble floor pressed on his cheek like...
1,[ CW ] Kill the writer in first-person narrati...,It 's been three days since my boyfriend pisse...
2,[ EU ] Sean Bean has a hard time leaving his r...,"George fled . Not terrifically fast , not at h..."
3,[ WP ] A kid doodling in a math class accident...,It was dark and Levi was pretty sure he was ly...
4,[ WP ] As a Space marine you have an allowance...,`` Hi dad ! '' <newline> <newline> The words s...

In [8]:
with open('../Dataset/writingPrompts/train.wp_source', 'r') as file:
    source_lines = file.readlines()
with open('../Dataset/writingPrompts/train.wp_target', 'r') as file:
    target_lines = file.readlines()

df_source = pd.DataFrame(source_lines, columns=['source'])
df_target = pd.DataFrame(target_lines, columns=['target'])

df_merged = pd.concat([df_source, df_target], axis=1)

df_merged.to_json('../PreProcessedDataset/train.json', orient='records', lines=True)

In [9]:
df=pd.read_json('../PreProcessedDataset/train.json', lines=True)
df.head()

,source,target
0,[ WP ] You 've finally managed to discover the...,"So many times have I walked on ruins , the rem..."
1,"[ WP ] The moon is actually a giant egg , and ...","-Week 18 aboard the Depth Reaver , Circa 2023-..."
2,[ WP ] You find a rip in time walking through ...,"I was feckin ' sloshed , mate . First time I e..."
3,[ WP ] For years in your youth the same imagin...,"“ No , no no no ... ” She backed up and turned..."
4,"[ WP ] You glance at your watch 10:34 am , rou...",There 's a magical moment between wakefulness ...

In [10]:
with open('../Dataset/writingPrompts/valid.wp_source', 'r') as file:
    source_lines = file.readlines()
with open('../Dataset/writingPrompts/valid.wp_target', 'r') as file:
    target_lines = file.readlines()

df_source = pd.DataFrame(source_lines, columns=['source'])
df_target = pd.DataFrame(target_lines, columns=['target'])

df_merged = pd.concat([df_source, df_target], axis=1)

df_merged.to_json('../PreProcessedDataset/valid.json', orient='records', lines=True)

In [11]:
df=pd.read_json('../PreProcessedDataset/valid.json', lines=True)
df.head()

,source,target
0,[ WP ] Every person in the world undergoes a `...,"Clancy Marguerian , 154 , private first class ..."
1,[ WP ] Space mining is on the rise . The Space...,„… and the little duckling will never be able ...
2,[ WP ] `` I wo n't have time to explain all of...,I wo n't have the time to explain all of this ...
3,[ CW ] Write about a song . Each sentence must...,* '' [ Sally ] ( https : //www.youtube.com/wat...
4,[ EU ] You live in Skyrim . It is your job to ...,Light is a marvelous thing . It alone can turn...